@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'),
  url('../fonts/pt-sans.woff2') format('woff2'),
  url('../fonts/pt-sans.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'),
  url('../fonts/pt-sans-700.woff2') format('woff2'),
  url('../fonts/pt-sans-700.woff') format('woff');
  font-display: swap;
}

:root{
  /*colors*/
  --shadow-color: rgba(0, 1, 1, 0.2);;
  --brand-color-background: #fff;
  --brand-color-font: #000;
  --basic-white: #fff;
  --opacity-white: rgba(255,255,255,0.3);
  --opacity-white-90: rgba(255,255,255,0.9);
  --basic-blue: #81b3d2;
  --hover-blue: #669EC0;
  --active-blue: #5496BD;
  --basic-black: #000;
  --opacity-black: rgba(0,0,0,0.3);
  --basic-gray: #eee;
  --basic-dark-gray: #333;
  --basic-extramid-gray: #a9a9a9;
  --basic-mid-gray: #6a6a6a;
  --basic-light-gray: #cacaca;
  --basic-extra-gray: #f2f2f2;
  --basic-brown: #766357;
  --hover-brown: #604e43;
  --active-brown: #503E33;
  --border-color: #e5e5e5;
  /*  fonts */
  --brand-font: 'PT Sans', Arial, sans-serif;
}
.page {
  height: 100%;
}
.main-body {
  background-color: var(--basic-extra-gray);
}
.container-wrap {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-height: 100%;
  color: var(--brand-color-font);
  background-color: var(--brand-color-background);
  box-shadow: 0 5px 15px 0 var(--shadow-color);
}
.site-nav {
  display: flex;
  height: 56px;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.site-nav-info {
  margin-left: 72px;
}
.site-nav-photo {
  margin-left: 134px;
  margin-right: auto;
}
.site-nav-map {
  margin-right: 147px;
  margin-left: auto;
}
.site-nav-hotels {
  margin-right: 72px;
}
.main-head-logo {
  position: absolute;
  margin-top: 0;
  margin-left: 531px;
}
.main-nav {
  font-family: var(--brand-font);
  font-size: 14px;
  text-transform: uppercase;
  line-height: 26px;
  font-weight: bold;
  text-decoration: none;
}
.site-nav a {
  text-decoration: none;
  color: var(--brand-color-font);
}
.site-nav a:not(.nav-active-link):hover {
  color: var(--basic-blue);
}
.site-nav a:not(.nav-active-link):active {
  color: var(--opacity-black);
}
.site-nav .nav-active-link {
  color: var(--basic-brown);
}
.visually-hidden {
  position: absolute ;
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 ;
  border:0 ;
  height: 1px ;
  width: 1px ;
  overflow: hidden;
}
.container-head {
  min-height: 509px;
  margin-bottom: 42px;
}
.slogan {
  width: 470px;
  font-family: var(--brand-font);
  text-transform: uppercase;
  font-size: 21px;
  line-height: 27px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto 42px;
}
.features{
  font-family: var(--brand-font);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}
.features-list-title {
  line-height: 26px;
  color: var(--basic-dark-gray);
  margin-bottom: 51px;
}
.features-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
  counter-reset: features-count;
  padding: 0;
  margin: 0 0 56px;
}
.features-list li {
  flex-grow: 1;
}
.features-list dl {
  margin:0;
  max-width: 400px;
  min-height: 256px;
}
.features-list dt {
  font-size: 21px;
  font-weight: bold;
}
.features-item {
  min-height: 256px;
  background-color: var(--basic-gray);
}
.big-block {
  width: 100%;
  min-height: 256px;
}
.point-1,
.point-2 {
  background-color: var(--basic-blue);
  color: var(--basic-white);
}
.point-2 dl {
  margin-left: 800px;
}
.recommendations-item {
  display: flex;
  width: 100%;
  min-height: 330px;
}
.recommendations-item dl {
  flex-grow: 1;
  max-width: 400px;
}
.features-item dd:before {
  counter-increment: features-count;
  content: "\2013  №"counter(features-count)" \2013";
}
.search-hotels {
  text-align: center;
}
.search-hotels span {
  display: block;
  font-size: 30px;
  font-weight: bold;
  line-height: 26px;
  margin-bottom: 31px;
}
.search-hotels p {
  width: 435px;
  font-size: 14px;
  line-height: 24px;
  margin:0 auto 44px;
}
.buttons {
  font-family: var(--brand-font);
  color: var(--basic-white);
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
}
.search-hotels{
  font-family: var(--brand-font);
  text-transform: uppercase;
}
.search-hotels-button {
  padding: 30px 139px;
  background-color: var(--basic-brown);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 473px;
}
.search-hotels-button:hover {
  background-color: var(--hover-brown);
}
.search-hotels-button:active {
  background-color: var(--active-brown);
  color: var(--opacity-white);
}
.hotels-filter {
  font-family: var(--brand-font);
  color: var(--brand-color-font);
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 0;
}
.hotels-filter-menu {
  width: 100%;
  height: 217px;
  background-image: url(../img/filter-menu-background.jpg);
}
.hotels-filter-sort {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 86px;
}
.hotels-filter-found {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin-left: 73px;
}
.hotels-filter-label {
  margin-left: 46px;
  margin-bottom: 6px;
}
.button-price {
  margin-left: 41px;
  margin-bottom: 6px;
}
.button-type {
  margin-left: 33px;
  margin-bottom: 6px;
}
.button-rating {
  margin-left: 34px;
  margin-right: auto;
  margin-bottom: 6px;
}
.up-arrow {
  margin-right: 12px;
}
.down-arrow {
  margin-right: 73px;
}
.hotels-filter-button {
  background-color: transparent;
  border-bottom: 1px dotted var(--basic-blue);
  padding: 0;
  color: var(--opacity-black);
  line-height: 17px;
}
.hotels-filter-button:hover {
  color: var(--basic-blue);
}
.hotels-filter-button:active {
  color: var(--basic-black);
  border: none;
}
.hotels-filter .hotels-filter-button-active {
  color: var(--basic-blue);
  border: none;
}
.search-result {
  font-family: var(--brand-font);
  color: var(--brand-color-font);
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
.search-result-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.search-result-item {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 150px;
}
.search-result-item-photo {
  margin-left: 73px;
  line-height: 0;
}
.search-result-item-block-1 {
  display: grid;
  grid-template-columns: min-content min-content min-content;
  grid-template-rows: 47px 31px 42px;
  column-gap: 6px;
  margin-left: 29px;
  margin-right: auto;
  min-height: 150px;
}
.search-result-item-type {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  align-self: end;
}
.search-result-item-price {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  align-self: end;
}
.search-result-button-details {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  align-self: end;
}
.search-result-button-reservation {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  align-self: end;
}
.search-result-item-name {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  align-self: end;
  justify-self: start;
  text-decoration: none;
  color: var(--basic-black);
}
.search-result-item-name:hover {
  color: var(--basic-blue);
}
.search-result-item-name:active {
  color: var(--opacity-black);
}
.search-result-item-block-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  min-height: 134px;
  max-height: 150px;
  margin-right: 71px;
}
.search-result-item-rating {
  text-align: center;
  line-height: 27px;
  width: 110px;
  height: 27px;
  background-color: var(--basic-extra-gray);
}
.search-result-item:not(:nth-of-type(2n)) {
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}
.search-result-item h3 {
  font-size: 21px;
  padding: 0;
  margin: 0;
}
.search-result-button-details {
  line-height: 21px;
  padding: 3px 16px 3px 17px;
  background-color: var(--basic-blue);
  font-weight: bold;
}
.search-result-button-details:hover {
  background-color: var(--hover-blue);
}
.search-result-button-details:active {
  background-color: var(--active-blue);
  color: var(--opacity-white);
}
.search-result-button-reservation {
  line-height: 21px;
  padding: 3px 16px 3px 17px;
  background-color: var(--basic-brown);
  font-weight: bold;
}
.search-result-button-reservation:hover {
  background-color: var(--hover-brown);
}
.search-result-button-reservation:active {
  background-color: var(--active-brown);
  color: var(--opacity-white);
}
.main-footer {
  display: flex;
  width: 100%;
  min-height: 120px;
  background-color: var(--opacity-white-90);
  text-align: center;
}
.contacts {
  flex-grow: 1;
  font-family: var(--brand-font);
  text-transform: uppercase;
  text-decoration: none;
  color: var(--basic-black);
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
.contacts span {
  display: block;
}
.phone {
  display: block;
  font-family: var(--brand-font);
  text-transform: uppercase;
  text-decoration: none;
  color: var(--basic-black);
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
.social {
  flex-grow: 1;
}
.social ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-copyright {
  flex-grow: 1;
  font-family: var(--brand-font);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  padding: 0;
  margin: 0;
}
