@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'),
  url('../fonts/pt-sans.woff2') format('woff2'),
  url('../fonts/pt-sans.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'),
  url('../fonts/pt-sans-700.woff2') format('woff2'),
  url('../fonts/pt-sans-700.woff') format('woff');
  font-display: swap;
}

:root{
  /*colors*/
  --brand-color-background: #fff;
  --brand-color-font: #000;
  --basic-white: #fff;
  --opacity-white: rgba(255,255,255,0.3);
  --opacity-white-90: rgba(255,255,255,0.9);
  --basic-blue: #81b3d2;
  --hover-blue: #669EC0;
  --active-blue: #5496BD;
  --basic-black: #000;
  --opacity-black: rgba(0,0,0,0.3);
  --basic-gray: #eee;
  --basic-dark-gray: #333;
  --basic-extramid-gray: #a9a9a9;
  --basic-mid-gray: #6a6a6a;
  --basic-light-gray: #cacaca;
  --basic-extra-gray: #f2f2f2;
  --basic-brown: #766357;
  --hover-brown: #604e43;
  --active-brown: #503E33;
  /*  fonts */
  --brand-font: 'PT Sans', Arial, sans-serif;
}
.page {
  height: 100%;
}
body {
  width: 1200px;
  padding: 0;
  color: var(--brand-color-font);
  background-color: var(--brand-color-background);
}
.main-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  margin: 0 auto;
}
.site-nav {
  display: grid;
  grid-template-areas: "info foto . map hotels";
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  list-style: none;
  padding: 0;
  margin: 0;
}
.info-layout{
  grid-area: info;
  text-align: left;
  padding-left: 72px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.foto-layout {
  grid-area: foto;
  text-align: left;
  padding-left: 72px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.map-layout {
  grid-area: map;
  text-align: right;
  padding-right: 72px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.hotels-layout {
  grid-area: hotels;
  text-align: right;
  padding-right: 72px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.position {
  position: relative;
}
.main-head-logo {
  position: absolute;
  margin: 0 550px;
}
.main-nav {
  font-family: var(--brand-font);
  font-size: 14px;
  text-transform: uppercase;
  line-height: 26px;
  font-weight: bold;
  text-decoration: none;
}
.main-nav a {
  text-decoration: none;
  color: var(--brand-color-font);
}
.main-nav a:not(.nav-active-link):hover {
  color: var(--basic-blue);
}
.main-nav a:active {
  color: var(--opacity-black);
}
.main-nav .nav-active-link {
  color: var(--basic-brown);
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.container-head-slogan {
  font-family: var(--brand-font);
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}
.features{
  font-family: var(--brand-font);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}
.features-list-title {
  line-height: 26px;
}
.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 256px 256px 256px 256px;
  list-style: none;
  counter-reset: features-count;
  padding: 0;
  margin: 0;
}
.features-list dt {
  font-size: 21px;
  font-weight: bold;
}
.features-item {
  width: 100%;
  min-height: 256px;
  background-color: var(--basic-gray);
}
.recommendations-item-layout {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}
.recommendations-item-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.recommendations-item-grid dl {
  margin: 0;
  padding: 0;
}
.features-first-item-layout {
  grid-column: 1 / 2;
  grid-row: 1 /2;
}
.features-second-item-layout {
  grid-column: 3 / 4;
  grid-row: 3 /4;
}
.features-third-item-layout {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}
.features-fourth-item-layout {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}
.features-fifth-item-layout {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
}
.big-block {
  width: 100%;
  min-height: 256px;
  background-color: var(--basic-blue);
  color: var(--basic-white);
}
.features-item dd:before {
  counter-increment: features-count;
  content: "\2013  №"counter(features-count)" \2013";
}
.search-hotels {
  text-align: center;
}
.search-hotels span {
  font-size: 30px;
  font-weight: bold;
  line-height: 24px;
}
.search-hotels p {
  line-height: 24px;
}
.buttons {
  font-family: var(--brand-font);
  color: var(--basic-white);
  text-transform: uppercase;
  border: none;
  outline: none;
}
.search-hotels{
  font-family: var(--brand-font);
  text-transform: uppercase;
}
.search-hotels-button {
  padding: 30px 139px;
  background-color: var(--basic-brown);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}
.search-hotels-button:hover {
  background-color: var(--hover-brown);
}
.search-hotels-button:active {
  background-color: var(--active-brown);
  color: var(--opacity-white);
}
.hotels-filter {
  font-family: var(--brand-font);
  color: var(--brand-color-font);
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 0;
}
.hotels-filter-found {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
.hotels-filter-button {
  background-color: transparent;
  border-bottom: 1px dashed var(--basic-blue);
  padding: 0;
  color: var(--opacity-black);
}
.hotels-filter-button:hover {
  color: var(--basic-blue);
}
.hotels-filter-button:active {
  color: var(--basic-black);
  border: none;
}
.hotels-filter .hotels-filter-button-active {
  color: var(--basic-blue);
  border: none;
}
.search-result {
  font-family: var(--brand-font);
  color: var(--brand-color-font);
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
.search-result-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.search-result-item h3 {
  font-size: 21px;
}
.search-result-item a {
  text-decoration: none;
  line-height: 26px;
  color: var(--basic-black);
}
.search-result-item a:hover {
  color: var(--basic-blue);
}
.search-result-item a:active {
  color: var(--opacity-black);
}
.search-result-button-details {
  line-height: 21px;
  padding: 3px 16px 3px 17px;
  background-color: var(--basic-blue);
  font-weight: bold;
}
.search-result-button-details:hover {
  background-color: var(--hover-blue);
}
.search-result-button-details:active {
  background-color: var(--active-blue);
  color: var(--opacity-white);
}
.search-result-button-reservation {
  line-height: 21px;
  padding: 3px 16px 3px 17px;
  background-color: var(--basic-brown);
  font-weight: bold;
}
.search-result-button-reservation:hover {
  background-color: var(--hover-brown);
}
.search-result-button-reservation:active {
  background-color: var(--active-brown);
  color: var(--opacity-white);
}
.main-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  min-height: 120px;
  background-color: var(--opacity-white-90);
  text-align: center;
}
.contacts,
.phone {
  font-family: var(--brand-font);
  text-transform: uppercase;
  text-decoration: none;
  color: var(--basic-black);
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
.social ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-copyright {
  font-family: var(--brand-font);
  text-transform: uppercase;
  line-height: 26px;
}
